---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Hero from '../components/Hero.astro';
import Education from '../components/Education.astro';
import KeyboardManager from '../components/KeyboardManager.astro';


---
<Layout title="Minimalist Portfolio.">
		<main id="content">
			<Hero />
			<div class=" h-[0.9px] w-1/5 bg-gray-100 mx-auto "></div>
			<About />
			<Experience />
			<Education/>
			<Skills/>
			<Projects/>
		</main>	
	
	<KeyboardManager />
</Layout>